
		*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	font-family:'poppins',sans-serif;
}

body{
	min-height:100vh;
}

a{
	text-decoration:none;

}

li{
	list-style:none;
}

h3{
	color:#999;
}

.title{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:15px 10px;
	border-bottom:2px solid #03a9f4;
}
.recent-payments .title a {
	background:#003147;
	padding:3px;
	border-radius: 5px;
	color:#fff;

}

.btn{
	background-color:#03a9f4;
	color:white;
	border-radius: 10px;
	padding:5px 10px;
	text-align:center;
	transition:0.5s;

}
/* table data */
.content-2 .recent-payments table thead tr td{
    text-align: center;
	background:#003147;
	padding:7px;
	color:#fff;
}
.content-2 .recent-payments table tbody tr td{
    text-align: center;
	padding:8px;
	border-bottom:1px solid #ddd;
}
.content-2 .recent-payments table tbody tr:hover{
	background:#ddd;
}




table{
	width:100%;
	padding:20px;
	border-collapse:collapse;


}
/* table thead td{
	text-align:center;
}
table tbody td{
	text-align:center;
} */

th, tr{
	text-align:left;
	padding:10px;


}


.btn:hover{
	background-color: #003147;
	color:#fff;
	padding:3px 8px;
	border:2px solid #fff;

}

.side-menu{
	position:fixed;
	background:#003147;
	min-height:100vh;
	width:20vw;
	display:flex;
	flex-direction:column;
}

.side-menu .brand-name{
	height:10vh;
	width:100%;
	font-weight:500;
	display:flex;
	align-items:center;
	justify-content:center;
	

}

.side-menu .brand-name h1{
	color:#fff;
}

.side-menu li a{
	font-size:20px;
	color:#fff;
	padding:10px 40px;
	display:flex;
	align-items:center;

	
}

.side-menu li:hover{ 
	background:#03a9f4;
	color:#fff;

}

/* this for whole main content in mid */
.container{
	position:absolute;
	right:0;
	width:80vw;
	height:100vh;
	background:#f1f1f1;

}

.container .header{
	position:fixed;
	top:0;
	right:0;
	width:80vw;
	height:10vh;
	background:#03a9f4;
	display:flex;
	align-items:center;
	justify-content:center;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	z-index:1;

}

.container .content{
	position:relative;
	margin-top:10vh;
	min-height:90vh;
	background:#f1f1f1;

}

.container .content .cards .card .box h1,h3{
	font-size:20px;

}


.container .content .cards{
	padding:20px 15px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
}

.container .content .cards .card{
	width:250px;
	height:150px;
	background:#fff;
	margin:5px;
	display:flex;
	justify-content:space-around;
	align-items:center;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),
	0 6px 20px 0 rgba(0,0,0,0.18);
}


.container .content .cards .card .iconBox{
	font-size:24px;
	color:#03a9f4;

}
.container .content .content-2 .recent-payments{
	min-height:50vh;
	flex:5;
	background:#fff;
	margin:20px;
	padding:10px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),
	0 6px 20px 0 rgba(0,0,0,0.18);
	display:felx;
	flex-direction:column;

}


/* for responsive */
@media screen and (max-width:1050px){
	.side-menu li{
		font-size:18px;
	}
}
@media screen and (max-width:940px){
	.side-menu li span{
		display:none;
	}
	.side-menu{
		align-items:center;
	}
	.side-menu li .fas{
		width:40px;
		height:40px;
		font-size:22px;
	}
	.container .content .cards{
		justify-content:center;

	}
}

@media screen and (max-width:770px){
	.container .content .recent-payments table thead td:nth-child(3),
	.container .content .recent-payments table tbody td:nth-child(3){
		display:none;
	}
}


@media screen and (max-width:686px){
	.container .content .recent-payments table thead td:nth-child(4),
	.container .content .recent-payments table tbody td:nth-child(4){
		display:none;
	}
}

@media screen and (max-width:615px){
	.container .content .recent-payments table thead td:nth-child(6),
	.container .content .recent-payments table tbody td:nth-child(6){
		display:none;
	}
}

@media screen and (max-width:425px){
	.container .content .recent-payments table thead td:nth-child(8),
	.container .content .recent-payments table tbody td:nth-child(8){
		display:none;
	}
}

@media screen and (max-width:536px){
	.brand-name h1{
		font-size:16px;
	}
	.container .content .cards{
		justify-content:center;

	}
	.side-menu li .fas{
		width:20px;
		height:20px;
		font-size:16px;
	}

	.container .content .recent-payments table thead td:nth-child(1),
	.container .content .recent-payments table tbody td:nth-child(1){
		display:none;
	}
}

